<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Room</title>

        <link rel="stylesheet" href="/css/call.css" />
        <link rel="shortcut icon" href="/assets/icon.png" type="image/x-icon" />
        <script>
            const ROOM_ID = "<%= roomId %>";
        </script>

        <script src="/js/peerjs.min.js" defer></script>
        <script src="/socket.io/socket.io.js" defer></script>
    </head>
    <body>
        <div class="container">
            <div class="frames" id="frames"></div>

            <div class="controls">
                <div id="mute" class="circle emoji">🎤</div>
                <div id="video-off" class="circle emoji">🎥</div>
                <div id="screen-share" class="circle emoji">🖥️</div>
                <div id="hang-up" class="circle emoji">📞</div>
            </div>
        </div>

        <script src="/js/call.js" defer></script>
    </body>
</html>
