<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Room</title>

        <link rel="stylesheet" href="./css/style.css" />
        <script>
            const ROOM_ID = "<%= roomId %>";
        </script>

        <script src="./js/peerjs.min.js" defer></script>
        <script src="/socket.io/socket.io.js" defer></script>
    </head>
    <body>
        <div class="container">
            <div class="frames" id="frames"></div>

            <div class="controls">
                <div class="circle emoji">🎤</div>
                <div class="circle emoji">🎥</div>
                <div class="circle emoji">🖥️</div>
                <div class="circle emoji">📞</div>
            </div>
        </div>

        <script src="./js/script.js" defer></script>
    </body>
</html>
