<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dashboard</title>
        <link rel="stylesheet" href="./css/dashboard.css" />
    </head>
    <body>
        <nav>
            <div class="brand">Mentora</div>
            <div id="menu" class="navigation">
                <ul class="navlinks">
                    <li><a href="/" class="link">Home</a></li>
                    <li><a href="/dashboard" class="link">Dashboard</a></li>
                    <li class="btn-default"><a href="/logout" class="link">Logout</a></li>
                </ul>
            </div>
        </nav>

        <div id="hamburger" class="hamburger">☰</div>

        <div class="container">
            <div class="top">
                <div class="profile">
                    <p class="heading">Gunjan Raj Tiwari</p>
                    <p>📧 im.gunjan1@gmail.com</p>
                    <p>🔑 4Xdf6s0r</p>
                </div>
                <div class="startMeet">
                    <span>Mentee Meeting</span>
                    <a href="/call" class="btn-default">Start</a>
                </div>

                <div class="requests"></div>
            </div>
        </div>

        <script src="/js/dashboard.js"></script>
    </body>
</html>
