:root {
    --purple-dark: #4548f4;
    --purple: #6b6cf3;
    --purple-light: #c5c5fa;
    --danger: #e33a6d;
    --danger-light: #ef6e8d;
    --shadow: 0px 4px 40px 0px #0000001f;
    --shadow-light: 0px 4px 40px 0px #ffffff1f;
    --font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #eee;
}

.circle {
    color: white;
    font-size: 1.1rem;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--purple-dark);
    margin: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow-light);
    transition: all 0.5s ease;
    cursor: pointer;
}

.circle:hover {
    background-color: var(--purple);
}

.emoji {
    text-shadow: 0 0 2px #fff;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.frames {
    flex-grow: 2;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;
}

.frames::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}

.frames::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px var(--purple-light);
}

.frames::-webkit-scrollbar-thumb {
    background-color: var(--purple-dark);
    outline: 1px solid var(--purple);
}

.frame {
    flex: 2 2 auto;
    height: 50%;
    width: 50;
    object-fit: contain;
    /* background-color: var(--purple-light); */
    /* border: 1px solid var(--purple-dark); */
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-frame {
    border: 2px solid var(--purple-dark);
}

video {
    height: 100%;
    width: 100%;
    min-height: 100px;
    min-width: 100px;
    border: 2px solid var(--purple-dark);
}

.tag {
    width: 100px;
    height: 100px;
    font-size: 1.5rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.controls {
    padding: 0.5em;
    display: flex;
    justify-content: center;
}

.speaking {
    box-shadow: inset 0 0 0 4px var(--purple-dark);
}

@media (min-width: 480px) {
    .frames {
        flex-direction: row;
    }

    .frame {
        min-width: 30%;
        min-height: 30%;
    }
}

/* Helpers */
.red-bg {
    transition: background-color 0.4s ease;
    background-color: var(--danger);
}

.red-bg:hover {
    background-color: #ef6e8d;
}
